@font-face {
  font-family: 'Inter';
  src: url(./EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(./EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
}

.branding-section {
  background-color: red;
  position: relative;
}
.branding-section > img {
  height: 100%;
  width: auto;
  display: inline;
}
.brand-name {
  position: absolute;
  top: 40%;
  left: 0;
  background-color: rgba(50, 50, 50, 0.5);
  width: 100%;
  font-family: Inter;
  text-transform: uppercase;
  color: white;
  font-size: max(5vh, 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.brand-name > img {
  width: max(12vh, 30px);
  height: auto;
}
.photo-credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: clamp(0.5rem, 3vh, 2rem);
}

a:visited {
  color: white;
}

.form-section {
}
label {
  font-variant: small-caps;
  display: block;
}
